<div class="container-div">
    <h3 class="heading">Home > Deploy</h3>      
  <p class="anchor-text">
      <!-- <div>
          <div id="u835" class="ax_default shape5">
              <img id="u835_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/GNIV49/c1/a8/3f/c1a83fce2e5240a8903c6bbec712e714/images/devcloud_2_0-container-imported/u835.svg?token=423981b81e3dd05f36319d7d2a9da89aaea5998cc1ec24f87695f4c630e308a5" tabindex="0">
              <div id="u835_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
            <div id="u836" class="ax_default image3">
              <img id="u836_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/GNIV49/c1/a8/3f/c1a83fce2e5240a8903c6bbec712e714/images/devcloud_2_0-container1/u447.png?token=193b668512536f2cfb0a11bd219a8c10dd309c31677115a87a4d3d310d033f71">
              <div id="u836_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
       </div> -->
      <a href="#">Import container image</a>
      <a href="#">[Manage My Container Resources]</a>
  
  <table style="width: 100%;">
      <tr>
          <td>
              <h2 class="text">My Container Applications</h2>     
          </td>
          <td>
              <form class="example"  style="margin:auto;max-width:300px;float: right;">
                  <input type="text" placeholder="Search.." name="search2">
                </form>
          </td>
      </tr>
  </table>
 
  
<app-container-listing></app-container-listing>
  <div class="bottom-text">
      <button mat-raised-button color="primary" style=" background-color: rgba(0, 153, 255, 1);">Deploy Selected Applicaiton</button>
      <img id="u837_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/GNIV49/c1/a8/3f/c1a83fce2e5240a8903c6bbec712e714/images/devcloud_2_0-container1/u454.svg?token=ba9d09d26f727a7ee3ef29b0687de157d7d44f4ebe065ca22da868cd08eee9da">
      <a href="#">Learn more about container deploymen in DevCloud</a>        
  </div>
</div>