.container-div{
    padding-left: 2rem;
    margin: 1rem;
}
 
.heading{
    font-weight: 700;
    margin: .5rem;
}
 
.anchor-text a{
    padding-right: 5rem;
    text-decoration: none;
    color: #169BD5;
}
 
.text{
    color: #847F7F;
}
 
.bottom-text{
    position: relative;
    float: left;
    margin: 1rem;    
}
 
.bottom-text button{
margin-right: 1.5rem;
}
 
a{
    color: #169BD5;
    text-decoration: none;
}
 
#u835 {
    border-width: 0px;
    position: absolute;
    left: 42px;
    top: 268px;
    width: 33px;
    height: 30px;
    display: flex;
}
 
.shape5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #000000;
}
 
#u835_img {
    border-width: 0px;
    position: absolute;
    left: -30px;
    top: -30px;
    width: 93px;
    height: 90px;
}
 
#u836 {
    border-width: 0px;
    position: absolute;
    left: 52px;
    top: 277px;
    width: 14px;
    height: 13px;
    display: flex;
}
 
.image3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #000000;
}
 
#u836_img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 13px;
}