<table>
    <tr>
      <td>OpenVINO Traffic Monitor</td>
      <td>Status:Ready <div style="float: right;"><img id="u846_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/GNIV49/c1/a8/3f/c1a83fce2e5240a8903c6bbec712e714/images/devcloud_2_0-container-imported/u846.svg?token=70e21bec62e469b14d4f0f9fa40c534e33e89a51f4c0a60fd3a2652f88e0c74f" tabindex="0"></div>
        <table>
          <tr>
            <th>Container</th>
            <th>Tags</th>
            <th>DeploymentxPU</th>
            <th>Date added</th>
            <th>Actions</th>
          </tr>
          <tr>
            <td>docket.OpenVINO</td>
            <td>20201.2</td>
            <td>Core(tm)I7 10th Gen</td>
            <td>Dec 08, 2020</td>
            <td><img id="u841_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/GNIV49/c1/a8/3f/c1a83fce2e5240a8903c6bbec712e714/images/devcloud_2_0-container-imported/u841.svg?token=47b02cde2ea5f993e0cd9094408dd2114593c515587fc3d8e140f8fc9cd839ea"></td>
          </tr>
          <tr>
            <td>OpenVINOML-Traffic Monitor</td>
            <td>1.2</td>
            <td>Movidius(tm) Gen2 VPU</td>
            <td>Dec 15, 2020</td>
            <td><img id="u841_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/GNIV49/c1/a8/3f/c1a83fce2e5240a8903c6bbec712e714/images/devcloud_2_0-container-imported/u841.svg?token=47b02cde2ea5f993e0cd9094408dd2114593c515587fc3d8e140f8fc9cd839ea"></td>
          </tr>
         
        </table>
      </td>
    </tr>
    <tr>
      <td>TestStack1</td>
      <td>Staus:Ready <div style="float: right;"><img id="u846_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/GNIV49/c1/a8/3f/c1a83fce2e5240a8903c6bbec712e714/images/devcloud_2_0-container-imported/u846.svg?token=70e21bec62e469b14d4f0f9fa40c534e33e89a51f4c0a60fd3a2652f88e0c74f" tabindex="0"></div></td>
    </tr>
  </table>